<template>
  <div class="canvas" style="padding:25px;overflow-x:hidden;">
      <vs-row justify="space-between">
        <vs-col w="8">
          <h1 class="line-1">Welcome to my creative space!</h1>
          <h1 class="line-2">Here I code <b>Python</b>, WebApps, Music and more.</h1>
        </vs-col>
        <vs-col w="4">
          <img src="~assets/counting_stars.svg" style="margin-top:24px;max-width:300px;overflow:hidden;" alt="">
        </vs-col>
      </vs-row>

      <vs-row style="margin-top:9vw;" justify="space-between">
        <vs-col w="6">
          <img src="~assets/biography.svg" style="margin: 0 24px 6vh 3vw;max-width:300px;" alt="">
        </vs-col>
        <vs-col w="6" sm="12">
          <p>My name is <b>Nurbek</b>. I am 20 years old. Currently, studying Bachelor of Engineering Sciences in Electronics. <b>I love coding.</b> Like to discover new technologies, broaden my abilities and <b>revamp</b> my skills on a daily basis.
          </p>
        </vs-col>
      </vs-row>
      <vs-row style="margin-top:5vw;" justify="space-between">
        <h1 class="line-1"><span class="collapsed">></span> My <b>skill</b> bank</h1>
        <vs-col w='12'>
          <div class="chip" v-for="k, index in bank" :style="{backgroundColor:'#'+palette[index]}" key="index">
            <p style="color:white;font-size:0.95em;align-self:center;font-family:Regular">{{k}}</p>
          </div>


        </vs-col>
      </vs-row>
      <vs-row style="margin-top:5vw;">
        <vs-col w="12">
          <h1 class="line-1" id='cat' @click="coding = !coding"><span v-if="!coding">></span><span v-else class="collapsed">></span> Coding</h1>
          <transition name="slide-fade">
          <p v-if="coding" id="curtain">I remember, I was 12 years old... bored from "Zooma" and "Delta Force", started to browse around my "Pentium" PC - digging around for something interesting.
          I started to apply different themes and skins to squeeze the colors out of the overall looking of Windows XP. Days passed, I was too confident and familiar within the system folders of OS. Already was able to change the system files, editing .PNGs, .BMPs and DLLs using different tools. Days passed... I found out about the "Batch script". I won't say for which purposes. But this was my first coding language ever.
          As the years went by I started to code in C++. That times it was the hardest thing I've ever tried to understand. I remember once started to learn it, differrent books and tasks. After 20 days of struggling I dropped it. I was 16. After a year I already knew HTML and CSS and could create basic pages and logic. Eventually there was no other way than learning some real programming language....C++.
          This time, It was much easy - it took me couple of months. But it helped me get vision on how to write my first algorithm and build an application with it. Years passed, at the age of 18-19, the year of 2017-18, when I first encountered posts about AI and Python. This was the day I started to learn Python.
          <br>
          <b>Python</b> is the language I fell in love with. Simple and powerful, where you don't waste time inventing wheel, likewise you have an opportunity to use these wheels and invent tricycle or something xD. If you are not sure about its possibilities, check <NuxtLink to="/category/python">here.</NuxtLink>
          </p>
        </transition>
        </vs-col>
      </vs-row>
      <vs-row style="">
        <vs-col w="12">
          <h1 class="line-1" id="cat" @click="music = !music"><span v-if="!music">></span><span v-else class="collapsed">></span> Music</h1>
          <transition name="slide-fade">
          <p v-if="music" id="curtain">Music plays a tremendous role in my life. I enjoy listening as well as producing it. There are so many different categories and genres of music such as Rock, Jazz, Hip Hop, Pop, Techno and others. Whatever kind of music that I listen to, it always gives joy and entertainment to me. Without music, my life would be soulless and bored. This is the thing that gives me a power to be energized for the whole day or week. I can listen to anything, will it be 50-60s or the genre of Otacore.
People say you have to be talented to write music, I believe there is no such thing as <b>talent</b>, if you want you <b>can</b>!
I wasn’t interested in music at all, I remember I was 15 when I first held the guitar in my hands and was able to play my first song after a couple of months of practice.
<br>If you are interested in what I produce, follow me <NuxtLink to="/category/music">here</NuxtLink>.
<br>

          </p>
          </transition>
        </vs-col>
      </vs-row>
      <vs-row style="margin-top:5vw;" justify="center">

        <NuxtLink to="/contact">
          <div class="chip" style="background-color:#6512ff;">
            <h1 class="line-3" style="color:white;align-self:center;padding:25px;"> Contact <b>me</b> </h1>
          </div>
        </NuxtLink>
          <br><br><br>


      </vs-row>

  </div>

</template>
<script>
  export default {
    head() {
      return {
      title:'Nurbek Fayziev - Programmer, Music producer, Designer',
      meta: [
        {
          hid: 'Nurbek Fayziev',
          name: 'Nurbek Fayziev',
          content: 'Biography, Nurbek Fayziev, Programmer, Music producer, Designer'
        }
      ],
    }
    },
    data() {
      return  {
      palette: ["580dd1","2a9d8f","ef7a1a","ed0e28","7379fa","0aa896","10423c","e76f51","ab3c49","451296","2a9d8f","ef7a1a","ed0e28","7379fa","580dd1","2a9d8f","ef7a1a","ed0e28","7379fa","0aa896","10423c","e76f51","ab3c49","451296","2a9d8f","ef7a1a"],
      bank: ['Python','Fruity Loops','C++','Ableton Live','Photoshop','Premiere','Blender','Unity3D','Git','Django Framework','REST API','PostgreSQL', 'MySQL', 'BASH script','HTML/CSS/JS','Tensorflow','Anaconda','Docker',],
      coding:false,
      music:false,
      }
    },
    methods: {
    }
  }

</script>
<style scoped>
  /* #### Generated By: http://www.cufonfonts.com #### */
  @media only screen and (max-width: 600px) {
    #resp {
      order: -1 !important;
      margin: 12vh 0 12vh 0px;
    }
  }
  p {
    display: inline;
    line-height: 1.8rem;
    font-size: 1.2rem;
    font-family: 'Regular';
  }
  .chip {
    display: inline-flex;
    justify-content: flex-start;
    margin-right: 15px;
    margin-top: 15px;
    transition: transform .2s ease;
    cursor: default;
    max-height: 30px;

    border-radius: 35px;
    padding:8px 13px 8px 13px;
  }
  .chip:hover {
    transform: scale(1.1);
    border-radius:10px;
  }
  .collapsed {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    display: inline-block;
    transition: transform .3s ease;

  }
  #curtain {
    transition: 1s ease;
  }
  #cat {
    transition: color, transform 1s ease;
    cursor:pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
  }
  #cat:hover {
    color:#5a61fa;
    transform:translateX(20px);
  }




</style>
