<template>
    <div class="canvas"><br>
      <h1 class="line-2 center" style="margin:2vh 15px 9vh 15px;">Quick message</h1>
      <QMessage />
      <!-- <h1 class="line-2 center" style="margin:12vh 15px 9vh 15px;">Follow me everywhere</h1> -->
      <Qrlinks/>
      <Social/>
  </div>
  </template>
  <script>
  export default {
    head() {
      return {
      title:'Contact me | NFSpace.me',
      meta: [
        {
          hid: 'Contact me',
          name: 'Contact me',
          content: 'contacts, social profiles, message, mail'
        }
      ],
    }
    },
  }

  </script>
