<template>
 <div class="canvasmain" style="margin-bottom:10vh;">
   <vs-row>
      <vs-col vs-type="flex" vs-justify="flex-start"  vs-align="center" sm="12" w="8">
     <vs-card style="visibility:hidden;" v-scroll-reveal.reset="{origin: 'left', mobile: true}"  type="3" class="card-p">
       <template #title>
         <h2 id="sm" style="font-family:'Elianto';margin:6px 0 10px 0;font-size:24px;">Nurbek Fayziev
         </h2>

       </template>
       <template #img>
         <div class="ava-bg">
           <vs-button style="margin-left:0px;border-radius:35px;padding:0px;" primary gradient>
             <img src="../assets/ava-min.png" class="avatar"  alt="avatar">
              <!-- <video width="180" height="188" autoplay loop>
                  <source src="../assets/video.webm" type="video/webm">
                  </video> -->
           </vs-button>
       </div>
      </vs-avatar>

       </template>
       <template #text>
           <NuxtLink to="/aboutme">
         <vs-button style="margin-left:0px;border-radius:35px" primary gradient >
           About me
         </vs-button>
       </NuxtLink>
        <NuxtLink to="/contact">
       <vs-button style="margin-left:0px;border-radius:35px" primary gradient >
         Contact me
       </vs-button>
        </NuxtLink>
         <p></p>
       </template>
       <!-- <template #interactions>
         <vs-button class="" floating danger gradient circle danger style="border-radius:35px;">
            <span class="span">20 y.o</span>
          </vs-button>
          v-scroll-reveal.reset="{mobile: true}"
        </template> -->
      </vs-card>
       </vs-col>
       <vs-col :key="col.id" v-for="col, index in categories" vs-type="flex" vs-justify="center" vs-align="center" xs="6" sm="6" lg="4" w="4" >
         <Pillow v-scroll-reveal.reset="{mobile: true}" :dye="palette[index]" :box="col" :link="'/category/'" />
       </vs-col>
     </vs-row>
</div>
</template>
<script>
  export default {
    name: 'Home',

    data() {
      return  {palette: ['#1dd3b0','#FF5A60', '#ffe66d', '#5a61fa','#5a61fa',]}
      //'#bdd5ea','#FF5A60', '#a8dadc', '#bcb8b1','#5a61fa',
    },
    async asyncData({ $axios, $config }) {
      const tk = $config.API_TOKEN
      $axios.setToken(`Bearer ${tk}`)
      const data  = await $axios.$get('/api/categories/').catch(function(error){console.log('Your error:', error)});
      return { categories: data }
    },
    loadingIndicator: {
      name: 'circle',
      color: '#3B8070',
      background: 'black'
    },

  }
</script>
<style scoped >
@media (max-width:410px){
  #sm {
    margin:0px 0 6px 0 !important;
  }
}
.vs-avatar-content {
  padding: 20px !important;
}
.ava-bg {
  display: flex;
  border-radius: 35px;
  /* background-color: #5a61fa; */
  width:100%;
  margin: 20px;
  min-width: 150px !important;
  height:inherit;
  /* filter:   contrast(110%) !important; */

}
.avatar {
  border-radius: 35px;
  /* filter:  saturate(0%) brightness(130%) contrast(110%); */

  min-width: 20px !important;

  width: 215px;

  /* margin: 80px; */
}

.card-p {

  padding: 10px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   min-height:190px !important;
   height: inherit ;

}
.hero {
  margin-left:30
}
h5 {
  font-weight: 500;
  font-size: 14px;
}
p {
  text-align: center;
}
</style>
