<template>
  <div :vs-theme="$colorMode.preference">
    <Navigation @switch="toggleTheme" />
    <loading :animation-duration="1500" :size="64" color="#ff1d5e" />
    <Nuxt />

  </div>
</template>
<script>
  export default {
    methods: {
      toggleTheme() {
        $nuxt.$colorMode.preference = $nuxt.$colorMode.preference === 'light' ? 'dark' : 'light'
      },
    },
    mocks: {
      $colorMode: {
        preference: 'system',
      }
    },

  }
</script>
<style>
  @font-face {
    font-family: 'Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Medium'), url('~assets/fonts/UberMoveMedium.woff') format('woff');
  }


  @font-face {
    font-family: 'Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Bold'), url('~assets/fonts/UberMoveBold.woff') format('woff');
  }

  @font-face {
    font-family: 'Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Regular'), url('~assets/fonts/UberMoveTextRegular.woff') format('woff');
  }

  @font-face {
    font-family: 'Light';
    font-style: normal;
    font-weight: normal;
    src: local('Light'), url('~assets/fonts/UberMoveTextLight.woff') format('woff');
  }

  @font-face {
    font-family: "Elianto";
    src: local("Elianto"),
      url(../assets/fonts/Elianto-Regular.otf) format("opentype");
  }

  ::-webkit-scrollbar {
    display: none;
  }

  :root {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;0,800;0,900;1,500;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,500;0,700;0,800;0,900;1,500;1,700;1,800;1,900&display=swap');
    /* @import src('../assets/fonts/Elianto-Regular.otf') */
    /* font-family: 'Regular', sans-serif; */
    --vs-radius: 35px !important;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    font-family: 'Poppins', sans-serif;
  }


  .line-1 {

    font-size: 3.6rem;
    line-height: 3.9rem;
    font-family: 'Bold';
  }
  .line-2 {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-family: 'Medium';
    font-weight: normal;
  }
  .line-3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-family: 'Medium';
    font-weight: lighter;
  }

  b {
    font-weight: bolder;
  }

  a {
    text-decoration: none;
  }


  /* div {
    overflow-x: hidden;
  } */
  .vs-card {
    max-width: 700px !important;
    border-radius: 35px !important;
  }

  .vs-card-content.type-3 .vs-card__text {
    width: 60% !important;
    /* padding-right: 0px  !important;
    margin: 0px !important; */
  }

  .vs-card-content.type-1 .vs-card:hover .vs-card__img img {
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
  }

  .vs-card-content.type-1.vs-card:hover {
    -webkit-transform: scale(1.15) !important;
    transform: scale(1.15) !important;
  }

  .vs-switch {
    /* top: px; */
    max-width: 60px !important;
    width: 100% !important;
    background: rgba(var(--vs-gray-3), 0) !important;
  }

  .vs-switch__background {
    background: rgba(var(--vs-color), 0) !important;
  }

  .vs-switch__text {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .canvas {
    width: calc(100%-40px);
    margin: auto;
    max-width: 900px;
  }
  .canvasmain {
    width: calc(100%-10px);
    margin: auto;
    max-width: 900px;
  }
    .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(10px);
    opacity: 0;
  }
</style>
