<template>
  <div class="canvas grid" style="padding-top:19px;">
    <h1 class="line-2" style="text-align:center;margin:35px 0px 65px 0px;">These are the technologies, frameworks, libraries and languages I've used to create this website</h1>
    <vs-row>
      <vs-col :key="k.id" v-for="k in credits" vs-type="flex" vs-justify="center" vs-align="center" xs="6" sm="4" lg="3" w="3">
        <a :href="k.go" target="_blank">
          <div class="card-p">
            <div class="shadowit con-img-t" style="padding:20px;">
              <img style="width:90%;margin:20px;border-radius:5px;" :src="`${k.link}`">
            </div>
          </div>
        </a>
        <p style="font-weight:600;text-align:center;margin-bottom:40px;">{{k.name}}</p>
      </vs-col>
    </vs-row>
    <h1 class="line-2" style="text-align:center;margin:35px 0px 0 0px;">Icons</h1>
    <div style="display:block; max-width:300px; margin:-60px auto 85px auto; max-height:100px; height:100%">
      <a href="#"><img :class="{invert:isBlack()}" style="margin:0auto; display:block; width:300px;" src="~assets/NounProject_logo.svg"></a>
    </div>
    <vs-row>
      <vs-col :key="k.id" v-for="k in logos" vs-type="flex" vs-justify="center" vs-align="center" xs="6" sm="4" lg="3" w="3">
        <a :href="k.go" target="_blank">
          <div class="card-p">
            <div class="shadowit con-img-t" style="padding:20px;">
              <img :class="{invert:isBlack()}" style="width:90%;margin:20px;border-radius:5px;" :src="`${k.link}`">
            </div>
          </div>
        </a>
        <p style="font-weight:600;margin:20px auto 40px;text-align:center;width:100%;max-width:150px;">{{k.name}}</p>
      </vs-col>
    </vs-row>
  </div>
</template>
<script>
  export default {
    head() {
      return {
      title:'Credits, Website info | NFSpace.me',
      meta: [
        {
          hid: 'Developer info and credits',
          name: 'Developer info and credits',
          content: 'credits, developer info, page info'
        }
      ],
    }
    },
    data() {
      return {
        credits: [{
            name: 'Python',
            link: require('~/assets/credits/python_logo.png'),
            go: 'https://python.org'
          },
          {
            name: 'Django',
            link: require('~/assets/credits/django_logo.png'),
            go: 'https://www.djangoproject.com/'
          },
          {
            name: 'Django REST',
            link: require('~/assets/credits/drf_logo.png'),
            go: 'https://www.django-rest-framework.org/'
          },
          {
            name: 'Vue.js',
            link: require('~/assets/credits/vuejs_logo.png'),
            go: 'https://vuejs.org/'
          },
          {
            name: 'Nuxt.js',
            link: require('~/assets/credits/nuxt_logo.png'),
            go: 'https://nuxtjs.org/'
          },
        ],
        logos: [{
            name: 'anaconda by Phạm Thanh Lộc',
            link: require('~/assets/python_icon.svg'),
            go: 'https://thenounproject.com/search/?q=python&i=3385823'
          },
          {
            name: 'Music by Oksana Latysheva',
            link: require('~/assets/music_icon.svg'),
            go: 'https://thenounproject.com/term/music/940505/'
          },
          {
            name: 'puzzles by Kirby Wu',
            link: require('~/assets/devinfo-credits_icon.svg'),
            go: 'https://thenounproject.com/term/component/2651586/'
          },
          {
            name: 'avatar by Ates Evren Aydinel',
            link: require('~/assets/savecv_icon.svg'),
            go: 'https://thenounproject.com/term/profile/1715686/'
          },
          {
            name: 'Map by Numero Uno',
            link: require('~/assets/travel_icon.svg'),
            go: 'https://thenounproject.com/term/map/1703123/'
          },
        ]
      }
    },
    methods: {
      isBlack() {
        if(this.$colorMode.value === 'dark') {
          return true
        }
        return false
      }
    }
  }
</script>
<style scoped>
.con-img-t:hover {
  -webkit-transform: translate(0, -30px);
  transform: translate(0, -30px);
  transition: transform 1s;
}
.shadowit {
  -webkit-box-shadow: 0px 8px 20px -6px ;
          box-shadow: 0px 8px 20px -6px ;
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}
.con-img-t {
  width: 44vw;
  height: 190px;
  position: relative;
  transition: all .3s ease;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, .05);
  border-radius: 35px;
  box-sizing: border-box;
  background: rgba(var(--vs-background), 1);
  display: flex;
  margin:10px;
  align-items: center;
  justify-content: center;
}
/* @media only screen and (max-width: 600px) {
  con-img
} */
  .card-p {

    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;

  }




  .ava-bg {
    display: flex;
    justify-content: center;
    border-radius: 35px;
    margin: 20px;
    height: 100%;
    width: 100%;
    min-width: 100px !important;
    min-height: 100px !important;
    max-height: 150px;
    filter: contrast(110%) !important;

  }

  .avatar {
    border-radius: 35px;


    min-width: 20px !important;

    width: 215px;

    /* margin: 80px; */
  }
  /* .con-twits {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin-top: 150px;
    margin-bottom: 70px;
  } */

</style>
