<template>
  <div class="a4" >
      <vs-button color="#7379fa" border square @click="printDiv('printable')">Print Black & White</vs-button>
      <vs-button @click="getPdf('#hugeblock', 'Nurbek Fayziev | CV')">print me</vs-button>
    <div class="grid" id="printable">
    <div class="blocka">
      <h1 style="margin-left:10px;margin-bottom:60px">NURBEK<br>FaYZIEV</h1>
      <div class="lists">
      <p><i class="bx bx-link"></i> nfspace.me</p>
      <p><i class="bx bxl-github"></i> github.com/aidensgithub</p>
      <p><i class="bx bx-at"></i> aidenspost@outlook.com</p>
      <p><i class="bx bxl-behance"></i> behance.net/aidensdesign</p>
      </div>
    </div>
    <div class="blockb">
  <h3>PROFESSIONAL SUMMARY</h3><br>
  Professional programmer and eCommerce specialist with a wide range of skills and experience. <br>More than a year of management experience in Amazon Marketplace, eBay, Cdiscount and Shopify commerce platforms.<br>

    </div>
    <div class="blockc">
<h4 style="display:block;">Skills</h4>
<ul class="list">
  <li><b>Python, C++</b> </li>
  <li><b>HTML/CSS/JS/VUE/NUXT</b> </li>
  <li><b>Web Design</b> <br>(AdobePS,XD,Premiere, Lightroom)</li>
  <li><b>eCommerce</b><br>Amazon, Cdiscount, Ebay, Shopify selling platforms management</li>
  <li><b>Social Marketing</b><br>(Branding, FB Marketing/ads, Telegram Ads, Audience analysis) </li>
  <li><b>Sound Engineering</b><br>(Ableton Live, FL Studio)</li>
</ul>
<h4 style="display:block;">Education</h4>
<ul class="list">
  <li><b>Transport and Telecommunication Institute</b><br> Bachelor of Engineering
    Sciences in Electronics <br>
    Riga, Latvia | 2022</li>

  <li><b>Professional College of Tourism and Hotel Management (GPA3.8)</b><br> Tashkent, Uzbekistan | 2018</li>
</ul>
  <h4 style="display:block;">Scan to save my contact details</h4>
  <div class="qr">
    <img style="width:100%;" src="~/assets/qrvcard.png">
  </div>
    </div>
    <div class="blockd">
<h4>Languages</h4>
<ul>
  <li>English - FLUENT</li>
  <li>Russian - FLUENT</li>
  <li>Uzbek - NATIVE</li>
</ul>
<h4>Work history</h4>
<ul class="list">
  <li class="nopoint"><b>Pixland.co - Co-founder</b>  |  <p class="tiny">from </p> <b>2018 </b><p class="tiny">to </p> <b>2019 </b>
    <br>Shopify dropshipping store<br>
   <p class="tiny"><em>• Creating and supporting the online store</em></p>

  </li>
</ul>
    </div>
  </div>
  </div>

</template>
<script>
  export default {
    data() {
      return {
        printMode: false
      }
    },
    methods: {
      print(div) {
        var printContents = document.getElementById(div).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
      },
      printDiv2(div) {
        window.html2canvas((div), {
            onrendered: function(canvas) {
                var img = canvas.toDataURL();
                window.open(img);
              }
            });
          }
    }
  }
</script>
<style scoped>
@media only screen and (max-width: 920px) {
.a4 {
  /* display: none; */
    position: fixed;
    top: 50%;
    left: 50% ;
    width: 900px !important;
    height: 1000px !important;
    /* overflow-x: auto; */
    transform: translate(-50%, -50%) scale(0.4);
}
h1 {
  font-size: 0.75em !important;
}
h3 {
font-size:  0.375em;
}
h4 {
  font-size:  0.375em;
}
p {
  font-size: 0.1em !important;
}
}
.a4 {
  width: 100%;
  margin: auto;
  max-width: 920px;
  color: black;
}
.a4 h1, h2, h3, h4, h5, p {
  color: black !important;
}
.a4 h1, h2, h3, h4, h5, p {
  color: black;
}
.tiny {
  display: inline;
  font-size: 14px;

}
.lists ul {
float:left;
}
.lists li:first-child {
float:left;

}
.lists li:nth-child(2) {
float:right;

}
.list {
  padding: 17px;
}
.list li {
  margin-bottom: 10px;
}

h1 {
    font-size: 2.75em !important;
  margin-top: 20px;
  line-height: 40px;
  font-family: "Elianto"
}
h3 {
font-size:  1.375em;
  font-family: "Elianto"
}
h4 {

font-size:  1.375em;
  font-family: "Medium"
}
.cascade {
  padding:40px !important;
}
.grid {
  display: grid;
  grid-template-columns: auto 33.33% 66.66% auto;
  grid-template-rows: 384px 88%;
}

.blocka {
  padding: 40px;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color:#7379FA;

}
.blockb {
  padding: 40px;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color:#b6b9f9;
}
.blockc {
  padding: 40px;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color:#b6b9f9;
}
.blockd {
  padding: 40px;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color:#dddfff;
}
</style>
