<template>
    <div class="wide">
      <h1>Main title</h1>
      <h3>header title</h3>
      <h5>little title</h5>
      <br><br><br><br>
      <p>loresrserl s lrjesle jsldkfjlsejfsl jflsdkfjlskdjflksdjl</p>
    </div>
</template>

<script>
export default {
  name: 'article',
  async asyncData({ $axios, params, $config }) {
    const tk = $config.API_TOKEN
    $axios.setToken(`Bearer ${tk}`)
    const data  = await $axios.$get('/api/article/').catch(function(error){console.log('Your error:', error)});
    const d = data.filter(el => el.category.slug == params.slug)


    return { subcategories: d }
  }
}

</script>
