<template>
  <div class="canvas"><br>
    <h1 class="line-2" style="text-align:center;margin: 35px 10px 35px 10px;">Demos and Samples</h1>
    <!-- <Player v-scroll-reveal.reset="{origin: 'top',}" :key="index" v-for=" a,index, in files" :idx="index" :name="a.name"  :sources="a.link" :loop="true"></Player> -->

    <vs-row>
       <vs-col vs-type="flex" vs-justify="center" vs-align="center" xs="12" sm="12" lg="12" w="12">
        <Players :key="index" v-for="(k, index) in music" :hue="hue" :title="k.title" :audio-source="k.file"/>
     </vs-col>
    </vs-row>
  </div>
</template>
<script>
  export default {
    head() {
      return {
      title:'Music production, beats | NFSpace.me',
      meta: [
        {
          hid: 'Music, Beats, Demos',
          name: 'Music, Beats, Demos',
          content: 'Music, LoFi, Rap, Hip Hop, EDM, Beats, Bass, 808, Chill'
        }
      ],
    }
    },
    data(){
      return {
      hue: ['#1dd3b0','#FF5A60', '#5a61fa','#5a61fa',]
    }
  },
    async asyncData({ $axios, $config }) {
      const tk = $config.API_TOKEN
      $axios.setToken(`Bearer ${tk}`)
      const data  = await $axios.$get('/api/music/').catch(function(error){console.log('Your error:', error)});
      return { music: data }
    },
    }
</script>
