<template id="">
  <div class="canvas">
    <vs-row id="mobileprint">
    </vs-row>
<vs-row style="padding:20px;" id="controls">

    <vs-button color="warn" border square @click="getPdf('#printable', 'Nurbek Fayziev | CV')">Save Colored PDF</vs-button>
  <vs-button color="#7379fa" border square @click="printDiv('#printable', 'Nurbek Fayziev | CV')">Print Black & White</vs-button>

</vs-row>
  <Cv :bundle="bundle"/>

  </div>
</template>
<script>

export default {

  data() {


    return {

    }
    },
    async asyncData({ $axios, $config }) {
      const tk = $config.API_TOKEN
      $axios.setToken(`Bearer ${tk}`)
      const data  = await $axios.$get('/api/cv/').catch(function(error){console.log('Your error:', error)});
        // const data1  = await $axios.$get('/api/visitedplaces/').catch(function(error){console.log('Your error:', error)});
      return { bundle: data}
  }
}


 </script>
<style scoped>
@media only screen and (max-width: 920px) {
#mobileprint{
  display:block !important;
  padding:7px;
}
#controls{
  display:none !important;
}
}

#mobileprint{
  display:none;
}
#controls{
  display:flex;
}
.btnprim {
  color: var(--color-primary);
}
</style>
