<template id="">
  <div class="canvas">

    <!-- <Visited :data="pics" :places="places"/> -->
<Blocked/>
  </div>
</template>
<style>

</style>
// <script>
//
// export default {
//
//   data() {
//
//
//     return {
//
//     }
//     },
//     async asyncData({ $axios, $config }) {
//       const tk = $config.API_TOKEN
//       $axios.setToken(`Bearer ${tk}`)
//       const data  = await $axios.$get('/api/visitedplacespics/').catch(function(error){console.log('Your error:', error)});
//         const data1  = await $axios.$get('/api/visitedplaces/').catch(function(error){console.log('Your error:', error)});
//       return { pics: data, places: data1 }
//   }
// }
//
// </script>
