<template>
  <div style="display:flex-wrap;margin-bottom:-30px">
    <div class="avatar">
      <vs-avatar class="avawrap" dark badge-position="top-right" badge badge-color="rgb(70, 56, 179)">
        <img src="../assets/ava-min.png" alt="">
      </vs-avatar>
    </div>


    <div class="avatar" style="margin-left:17px;">
      <p class="aname">Nurbek Fayziev</p>
        <p class="adate">{{published}}</p>
      </div>
      <client-only>
      <div class="shareicons">
        <vs-button-group>
          <vs-button class="btn" dark @click="shareIt('fb')"><i class='bx bxl-facebook-square'></i></vs-button>
          <vs-button class="btn" dark @click="shareIt('tw')"><i class='bx bxl-twitter'></i></vs-button>
          <vs-button class="btn" dark @click="shareIt('tg')"><i class='bx bxl-telegram'></i></vs-button>
          <vs-button class="btn" dark @click="shareIt('ln')"><i class='bx bxl-linkedin'></i></vs-button>
          <vs-button class="btn" dark @click="shareIt('wp')"><i class='bx bxl-whatsapp'></i></vs-button>
        </vs-button-group>
      </div>
    </client-only>
</vs-row>
</div>
</template>
<script>
export default {
  props: ['published', 'thispage'],
  data() {
    return {
      value: '',
    }
  },
  methods: {
    shareIt(site) {
      if(site=="fb") {
        window.open('https://www.facebook.com/sharer/sharer.php?u=https://nfspace.me'+this.$nuxt.$route.path);
      }
      if(site=='tw') {
        window.open(`https://twitter.com/intent/tweet?url=https://www.nfspace.me${this.$nuxt.$route.path}&text=${this.thispage}`);
      }
      if(site=='ln') {
        window.open(`https://www.linkedin.com/shareArticle?mini=true&url=https://www.nfspace.me${this.$nuxt.$route.path}&title=${this.thispage}`);
      }
      if(site=='wp') {
        window.open(`https://wa.me/?text=${this.thispage} - https://www.nfspace.me${this.$nuxt.$route.path}`)
      }
      if(site=='tg') {
      window.open(`https://t.me/share/url?url=https://www.nfspace.me${this.$nuxt.$route.path}&text=${this.thispage}`)
    }
    }
  }
}

</script>
<style scoped>
@media (max-width:728px) {
  .shareicons {

    display: flex !important;
    width:100% !important;
    max-width: 728px !important;
    margin-bottom: 2rem !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: space-around !important;
    align-self: space-around !important;
    align-content: space-around !important;
    top:0 !important;
    margin-left:0 !important;
    position: relative !important;
  }
  .bx {
    font-size:1.7rem !important;
  }
  .avatar {
    display:inline-block;
    float:left !important;
    margin-bottom: 20px;
  }

}

.avatar {
  position: relative;
  display: inline-block;
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
  float:left;
}
.shareicons {
  display: inline-block;
  position: relative;
  margin-left:25.8rem;
  top:-4.1rem;
  margin-bottom:-30px;
}

.shareicons vs-button {
  background-color: #fff !important;
}

.bx {
  font-size:1.7rem !important;
}
</style>
<style>

 .authorline {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   margin-bottom:5vh;
   margin-right:auto;
 }
 .social {
   display: flex;



 }
 .data {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2px;

 }
 .btn {
    background-color: #0F1013 !important;
 }

 .aname {
   display: inline-block;
   margin-bottom: 0;
   margin-top: 4px;
   color:rgb(var(--vs-text));
   font-family: "Medium";
   font-size: 1rem;
   position: relative;

 }
 .avawrap {
   width:2.5rem;
   height:2.5rem;
 }
 .adate {
   display: block;
    margin-bottom:0;
    font-family: "Regular";
    font-size:0.9rem;
    margin-top:3px;
    position: relative;

 }
</style>
