<template>
    <div class="center">
      <vs-dialog @input="$nuxt.$router.back(-1);" prevent-close v-model="active">
        <template #header>
          <h4 class="not-margin">
            <b>Access Denied</b>
          </h4>
        </template>
        <div class="con-form">
          <vs-input type="password" v-model="input2" placeholder="Password">
            <template #icon>
              <i class='bx bxs-lock'></i>
            </template>
          </vs-input>

        </div>

        <template #footer>
          <div class="footer-dialog">
            <vs-button block gradient primary>
              Enter
            </vs-button>

            <div class="new">
              Please get back if you are not an owner
            </div>
          </div>
        </template>
      </vs-dialog>
    </div>
  </template>
  <script>
    export default {
      data:() => ({
        active: true,
        input1: '',
        input2: '',
        checkbox1: false
      }),
      methods: {
      }
    }
  </script>
  <style lang="stylus">
  getColor(vsColor, alpha = 1)
      unquote("rgba(var(--vs-"+vsColor+"), "+alpha+")")
  getVar(var)
      unquote("var(--vs-"+var+")")
  .not-margin
    margin 0px
    font-weight normal
    padding 10px
  .con-form
    width 100%
    .flex
      display flex
      align-items center
      justify-content space-between
      a
        font-size .8rem
        opacity .7
        &:hover
          opacity 1
    .vs-checkbox-label
      font-size .8rem
    .vs-input-content
      margin 10px 0px
      width calc(100%)
      .vs-input
        width 100%
  .footer-dialog
    display flex
    align-items center
    justify-content center
    flex-direction column
    width calc(100%)
    .new
      margin 0px
      margin-top 20px
      padding: 0px
      font-size .7rem
      a
        color getColor('primary') !important
        margin-left 6px
        &:hover
          text-decoration underline
    .vs-button
      margin 0px
  </style>
