<template>
  <div class="">
  <div class="a4" id="printable">
    <div class="mask">
      <template v-for="(all, index) in bundle">
    <vs-row style="background-color:#7379FA;">
      <vs-col w="4" sm="12" id="11" style="background-color:#7379FA;" class="cascade">
        <h1>NURBEK<br>FAYZIEV</h1>
            <vs-row>
      <div class="lists">
          <p v-for="k in all.links">
            <i :class="k.icon_name"></i> {{k.link}}
          </p>
      </div>

        </vs-row>
      </vs-col>
      <vs-col w="8" sm="12" id="22" style="background-color:#b6b9f9;padding-bottom:59px !important;" class="cascade">
        <h3>PROFESSIONAL SUMMARY</h3>
        <vs-row  v-html="rend">
        </vs-row>
      </vs-col>
    </vs-row>
<vs-row style="background-color:#dddfff;" id="workhistwrapper">
      <vs-col w="8" sm="12" id="workhist" style="background-color:#dddfff;" class="cascade">
        <vs-row>
          <vs-col w="12">
            <h4>Languages</h4>
          </vs-col>
          <vs-col>
          <ul>
            <li>English - FLUENT</li>
            <li>Russian - FLUENT</li>
            <li>Uzbek - NATIVE</li>
          </ul>
          </vs-col>
        </vs-row>
        <vs-row>
          <vs-col w="12">
            <h4>Work history</h4>
              <template v-for="w in all.experience.slice().reverse()">
            <ul class="list">
              <li class="nopoint"><b>{{w.workplace_position}}</b>  |  <p class="tiny">from </p> <b>{{w.fromdate}} </b><p class="tiny">to </p> <b>{{w.todate}} </b>
                <br>{{w.specificroute}}<br>
                <template v-for="r in w.responsibilities">


               <p class="tiny" >• <em>{{r.responsibilities}}</em></p>

               <br>
               </template>
              </li>
            </ul>
              </template>
          </vs-col>
        </vs-row>
      </vs-col>

      <vs-col order="-1" w="4" id="skillz" sm="12" style="background-color:#b6b9f9;" class="cascade">
        <vs-row>
          <vs-col w="12">
        <h4 style="display:block;">Skills</h4>
      </vs-col>
      <vs-col w="12">
        <ul class="list">
          <li v-for="s in all.skills"><b>{{s.main_skill}}</b><br>{{s.skill_details}} </li>

        </ul>
      </vs-col>
        </vs-row>
        <vs-row>
          <vs-col w="12">
        <h4 style="display:block;">Education</h4>
      </vs-col>
      <vs-col w="12">
        <ul class="list">
          <li><b>Transport and Telecommunication Institute</b><br> Bachelor of Engineering
            Sciences in Electronics <br>
            Riga, Latvia | 2022</li>

          <li><b>Professional College of Tourism and Hotel Management (GPA3.8)</b><br> Tashkent, Uzbekistan | 2018</li>
        </ul>
      </vs-col>
        </vs-row>
        <vs-row>
          <vs-col w="12">
        <h4 style="display:block;">Scan to save my contact details</h4>
      </vs-col>
      <div class="qr">
        <img style="width:100%;" :src="all.qr">
      </div>
        </vs-row>
      </vs-col>

</vs-row>
    </template>
</div>
  </div>
  </div>
</template>
<script>
import marked from "marked";
  export default {
    props:['bundle'],
    computed: {
      rend() {
        var l = ""
        for(const k of this.bundle){
          for(const j of k.summary){
            l = j.summary_text;
          }
        }
        return marked(`${l}`)
      }
    }

  }
</script>
<style scoped>

.a4 {
  width: calc(100%-40px);
  margin: auto;
  max-width: 970px;
  color: black;
}
.a4 h1, h2, h3, h4, h5, p {
  color: black !important;
}


@media only screen and (max-width: 920px) {
.a4 {
  /* display: none; */
    /* position: fixed;
    top: 50%;
    left: 50% ;
    width: 900px !important;
    height: 1000px !important;
    overflow-x: auto;
    transform: translate(-50%, -50%) scale(0.4); */
}
h1{
  margin-left:0px !important;
}

#workhist {
  order:-1 !important;
}
}

.mask {
  width:100%;
  height:100%;
}

.nopoint {
  list-style: none;
}
.a4 h1, h2, h3, h4, h5, p {
  color: black;
}
.tiny {
  display: inline;
  font-size: 14px;

}

.lists ul {
float:left;
}
.lists li:first-child {
float:left;

}
.lists li:nth-child(2) {
float:right;

}
.list {
  padding: 17px;
}
.list li {
  margin-bottom: 10px;
}

h1 {

  margin-bottom:30px;
  font-size: 49px;
  margin-top: 26px;
  line-height: 40px;
  font-family: "Medium";
  font-weight: bold !important;
}
h3 {
  font-size: 22px;
  font-family: "Medium"
}
h4 {

  font-size: 22px;
  font-family: "Medium"
}
.cascade {
  padding:40px !important;
}
hr {
  color:black;
}
</style>
