<template>
  <div class="prebar">
  <footer class="bar">
    <div class="cont">
      <vs-row justify="center" align="center">
        <h5 style="margin-right:14px;margin-top:14px;font-family:'Times New Roman'"><i></i></h5>
         <img :class="{invert:isBlack()}" class="jimmy" src="~assets/nfbrand.png">

      </vs-row>
    </div>
  </footer>
  </div>
</template>
<script>
  export default {
    methods: {
      isBlack() {
        if(this.$colorMode.value === 'dark') {
          return false
        }
        return true
      }
    }
  }
</script>
<style scoped>
.prebar {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
.cont {
padding:20px;

}
.jimmy {
  width:10%;
  transition: width 0.5s ease-in-out;
}
.jimmy:hover {
  width:15%;
  transition: width 0.5s ease-in-out;
}

@media (max-width:728px){
  .jimmy {
    width: 35% !important;
    margin: 10px !important;
  }

}
  .bar {

    width: 100%;
    max-height:200px;
    position: absolute;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: rgba(var(--vs-text), 1);
  }

  .blocks {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

</style>
