<!--
  <script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/themes/dark.js" type="text/javascript"></script>
<div id="mapdiv" style="width: 1000px; height: 450px;"></div>
<div style="width: 1000px; font-size: 70%; padding: 5px 0; text-align: center; background-color: 18191C; margin-top: 1px; color: #BDBDBD;"><a href="https://www.amcharts.com/visited_countries/" style="color: #BDBDBD;">Create your own visited countries map</a> or check out the <a href="https://www.amcharts.com/" style="color: #BDBDBD;">JavaScript Charts</a>.</div>
<script type="text/javascript">
var map = AmCharts.makeChart("mapdiv",{
type: "map",
theme: "dark",
projection: "mercator",
panEventsEnabled : true,
backgroundColor : "18191C",
backgroundAlpha : 1,
zoomControl: {
zoomControlEnabled : true
},
dataProvider : {
map : "worldHigh",
getAreasFromMap : true,
areas :
[
{
  "id": "EE",
  "showAsSelected": true
},
{
  "id": "LV",
  "showAsSelected": true
},
{
  "id": "SE",
  "showAsSelected": true
},
{
  "id": "KZ",
  "showAsSelected": true
},
{
  "id": "UZ",
  "showAsSelected": true
}
]
},
areasSettings : {
autoZoom : true,
color : "#BDBDBD",
colorSolid : "#5A61FA",
selectedColor : "#5A61FA",
outlineColor : "#666666",
rollOverColor : "#FF5A60",
rollOverOutlineColor : "#000000"
}
});
</script> -->
