  <template>
    <div class="nav">
      <vs-navbar square v-model="active">
        <template left>
        </template>
        <template>
          <vs-navbar-item>
            <vs-switch dark icon @click="$emit('switch')">
              <template #on>
                <p>DAY </p>
              </template>
              <template #off>
                <p>NIGHT</p>
              </template>
            </vs-switch>
          </vs-navbar-item>
        </template>
        <template center>
          <vs-navbar-item class="logoHover" @click="$nuxt.$router.push('/')">
            <div class="outerglow">
            </div>
            <NuxtLink to="/"><img src="../assets/logo-s.png" v-bind:class="{invert:isBlack()}" class="logo" alt=""></NuxtLink>
          </vs-navbar-item>
        </template>
        <template >
          <vs-navbar-item >
              <NuxtLink to="/"><p>HOME</p></NuxtLink>
          </vs-navbar-item>
        </template>

      </vs-navbar>
    </div>
  </template>

<script>

export default {
  name: "Navigation",
  data:() => ({
    active: 'guide',
    active2: true,
  }),
  methods: {
    isBlack() {
      if(this.$colorMode.value === 'light') {
        return true
      }
      return false
    }
  }
}
</script>
<style scoped>
@-webkit-keyframes rotateit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.outerglow {
  background-color: rgba(0,0,0,0);
  height: 16px;
  width: 16px;
  z-index: 1;
  pointer-events:visibleStroke;
  left: 58px;
  top: 28px;
  position: absolute;
  margin: 0 auto;
  transition: transform .2s;
  display:flex;
  border-radius: 100%;


}
.outerglow:hover {
  box-shadow: 0px 0 2px 3px rgba(255,255,255,0.5);;
-moz-transition: all 0.1s ease-in;
-o-transition: all 0.1s ease-in;
-webkit-transition: all 0.1s ease-in;
transition: all 0.1s ease-in;
transform: scale(1.5);
}
.logoHover {
  z-index: 1;
  pointer-events:all;
  opacity:1 !important;
  border-radius: 250px;
  overflow: hidden;

    position: relative;
    display: block;
  /* -webkit-animation-name: rotateit;
  -webkit-animation-duration: 2s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-name: rotateit;
  animation-duration: 2s; */



}
@media only screen and (min-width: 600px) {
  .logoHover:hover {
    }
}
p {
  font-family: "Elianto" !important;
  margin: 0 auto;
  padding: 10px;
  color: var(--color-primary);
  font-family: sans-serif;
  font-size: 14px;
}
a {
  font-family: "Elianto" !important;
  color: var(--color-primary) !important;
}

</style>
<style>

  .invert {
    filter: grayscale(1) invert(100%);
  }

  .logo {
    width:100px;
    display:inline-block;
  }
  .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav {
     margin-bottom:90px;
  }
</style>
