<template>
    <div>
        <NuxtLink :to="link" :slug="box.slug">
          <div class="card-p">
            <div class="con-img-t" style="flex-direction: column;">
              <img style="max-width:200px;max-height:130px;display:block;border-radius:5px;" :src="linkImage()">
              <p style="font-weight:600;text-align:center;">{{box.title}}</p>
            </div>
          </div>
        </NuxtLink>
    </div>
</template>
<script>
export default {
  name: "Pillow",
  props: ["box", "link", "dye"],
  transition: {
    name: 'page',
  },
  methods: {
    linkImage() {
      if(this.$route.path === '/') {
        return require('~/assets/'+this.box.slug+'_icon.svg')
      }
      return this.box.image
    }
  }
}

</script>
<style scoped>

@media (max-width: 410px) {
  #sm {
    width: 100% !important;
  };
}

.card-p {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px;
}
  .container {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;
  }
  .card {
    max-width: 300px;
    min-height: 300px !important;
  }
  .center {
    text-align: center;
  }
  .ava-bg {
    display: flex;
    justify-content: center;
    border-radius: 35px;
    margin: 20px;
    height:100%;
    width:100%;
    min-width: 100px !important;
    min-height: 100px !important;
    max-height: 150px;
    filter:   contrast(110%) !important;

  }
  .ava-bg:focus {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
    -webkit-box-shadow: 0px 0px 0px 0px ;
            box-shadow: 0px 0px 0px 0px ;
  }

  .avatar {
    border-radius: 35px;
    margin: 25px;
    display: flex;
    min-height: 50px;
    min-width: 100px !important;
    height: 120px;
    margin-bottom: 20px;
    width: 150px;
    margin: 80px;
  }
  .con-img-t:hover {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    transition: transform 0.5s;
  }
  .shadowit {
    -webkit-box-shadow: 0px 8px 20px -6px ;
            box-shadow: 0px 8px 20px -6px ;
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px);
  }
  .con-img-t {
    width: 350px;
    overflow: hidden;
    padding: 30px 15px 25px 15px;
    height: 250px;
    position: relative;
    transition: all .3s ease;
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, .05);
    border-radius: 35px;
    box-sizing: border-box;
    background: rgba(var(--vs-background), 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .con-img-t p{

  float: left;
  clear: both;
  color: rgba(var(--vs-text), 1);
  }


</style>
