<template>
    <div style="visibility:hidden;">
        <NuxtLink :to="link+box.slug">
        <vs-card class="card-p">
          <template #title>
             <!-- <vs-button id="button" class="" style="margin-left:0px;border-radius:35px;margin: 0 auto;" :style="{backgroundColor:dye,color:dye}"> -->
               <h3 class="center">{{box.title}}</h3>
             <!-- </vs-button> -->
          </template>
          <template #img>
            <div id="sm" class="ava-bg" :style="{backgroundColor:dye,color:dye}">
            <img class="avatar" :src="linkImage()" :alt="box.title">
          </div>
          </template>
          <template #text>
            <p class="center">
              {{box.text}}
            </p>
          </template>
          <template #interactions>
          </template>
        </vs-card>
        </NuxtLink>
    </div>
</template>
<script>
export default {
  name: "Pillow",
  props: ["box", "link", "dye"],
  transition: {
    name: 'page',
  },
  methods: {
    linkImage() {
      if(this.$route.path === '/') {
        return require('~/assets/'+this.box.slug+'_icon.svg')
      }
      return this.box.image
    }
  }
}

</script>
<style scoped>
@media (max-width: 410px) {
  #sm {
    width: 100% !important;
  };
  /* .ava-bg {
    display: flex;
    justify-content: center;
    border-radius: 35px;
    margin:20px !important;
    height:100%;
    width:100%;
    min-width: 100px !important;
    min-height: 50px !important;
    max-height: 70px;
  } */
}
.title {
  color: var(--vs-color) !important;
  background-color: var(--vs-color) !important;
}
.vs-button h3 {
  color: black;
  font-size: 16px;
}
.card-p {
  padding: 10px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.card-p:hover .ava-bg {
  -webkit-box-shadow: 0px 8px 20px -6px ;
          box-shadow: 0px 8px 20px -6px ;
  /* -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px); */
          transition: box-shadow 1s;
}
.card-p:hover  #button {
  -webkit-box-shadow: 0px 8px 20px -6px ;
          box-shadow: 0px 8px 20px -6px ;
  /* -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px); */
            transition: box-shadow 1s;
}
  .container {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;
  }
  .card {
    max-width: 300px;
    min-height: 300px !important;
  }
  .center {
    text-align: center;
  }
  .ava-bg {
    display: flex;
    justify-content: center;
    border-radius: 35px;
    margin: 20px;
    height:100%;
    width:100%;
    min-width: 100px !important;
    min-height: 100px !important;
    max-height: 160px;
    filter:   contrast(110%) !important;

  }
  .ava-bg:focus {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
    -webkit-box-shadow: 0px 0px 0px 0px ;
            box-shadow: 0px 0px 0px 0px ;
  }

  .avatar {
    border-radius: 35px;
    margin: 25px;

    display: flex;
    /* min-height: 50px;
    min-width: 100px !important;
    height: 120px; */
    /* margin-bottom: 20px; */
    /* width: 150px; */

    /* margin: 80px; */
  }


</style>
<style>
.shadowit {
  -webkit-box-shadow: 0px 8px 20px -6px ;
          box-shadow: 0px 8px 20px -6px ;
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}
</style>
