<template>
<!-- <vs-card type="5" class="card-p">
    <template #title>

    </template>

    <template #img>
        <div id="sm" class="ava-bgg">
          <vs-button block style="border-radius:35px; font-size:40px;" :style="{backgroundColor:picked}" @click="togglePlayback">
            <i v-if="playing" class='bx bx-pause'></i>
            <i v-else class='bx bx-play'></i>
          </vs-button>
        </div>
    </template>
    <template #text>
      <div class="slider" ref="slider" @click="handleModifyProgress">
        <div class="progressInfo"></div>
        <div class="process" :style="{width: pWidth, backgroundColor:picked}"></div>
        <div class="thunk" ref="trunk" :style="{left}">
            <div class="block" :style="{background:picked}"></div>
        </div>
      </div>
      <h3 class="center">{{title}}</h3>
    </template>
</vs-card>

 -->




<div class="Pl" id="sm">


  <div class="operations">
    <vs-button-group>
      <vs-button :style="{backgroundColor:picked}" @click="togglePlayback">
        <i v-if="playing" class='bx bx-pause'></i>
        <i v-else class='bx bx-play'></i>
      </vs-button>
      <vs-button :style="{backgroundColor:picked}" @click="stop">
        <i class='bx bx-stop'></i>
      </vs-button>
    </vs-button-group>
    <p style="font-family:Medium; margin:20px;">{{title}}</p>
  </div>


  <div class="slider" ref="slider" @click="handleModifyProgress">
        <div class="progressInfo"></div>
        <div class="process" :style="{ width: pWidth, backgroundColor:picked, opacity:1 }"></div>
        <div class="thunk" ref="trunk" :style="{ left }"></div>
      </div>
      <div class="pit">
        <vs-button :style="{backgroundColor:picked}" @click="stop">
        </vs-button>
      </div>

</div>









<!--
  <div class="vueAudioBetter" :style="{width: totalWidth, backgroundColor: picked}">
    <div class="total">
      <span style="font-weight: 700;">{{ _sToMs(seek) }} / {{ _sToMs(duration) }}</span>picture
    </div>
    <div class="operatorButton">
      <span class="iconfont icon-playcircle-fill" @click="togglePlayback" v-if="!playing"></span>
      <span class="iconfont icon-pausecircle-fill" @click="togglePlayback" v-else></span>
      <span class="iconfont icon-stopcircle-fill" @click="stop"></span>
    </div>
    <div class="slider" ref="slider" @click="handleModifyProgress">
      <div class="progressInfo"></div>
      <div class="process" :style="{width: pWidth}"></div>
      <div class="thunk" ref="trunk" :style="{left}">
          <div class="block"></div>
      </div>
    </div>
  </div> -->
</template>
<script>
import Audio from './Player/audio.js';
import './Player/font/iconfont.css';
export default {
  name: 'VueAudio',
  mixins: [Audio],
  props: ['width', 'hue', 'title'],
  data() {
    return {
      min: 0,
      max: 100,
      slider: null,
      thunk: null,
      per: 0,
      rate: 1,
      isMute: true,
      curVolume: 0.5,
      totalWidth: 500
    }
  },
  watch: {
    curProgress(v) {
      // Avoid unfinished drag and drop progress changes
      if (!document.onmouseup) {
        this.per = v;
      }
    }
  },
  computed: {
    curProgress() {
      let curProgress = ((Math.round((this.progress * 10000))) / 100.00).toFixed(2);
      return curProgress;
    },
    // Set a percentage and provide the left value for calculating the slider progress width and trunk
    scale() {
      let scale = (this.per - this.min) / (this.max - this.min);
      return scale;
    },
    pWidth() {
      if (this.slider) {
        return this.slider.offsetWidth * this.scale + 'px';
      } else {
        return 0 + 'px'
      }
    },
    left() {
      if (this.slider) {
        return this.slider.offsetWidth * this.scale - this.thunk.offsetWidth / 2 + 'px';
      } else {
        return 0 + 'px'
      }
    },
    picked() {
      var random_color = this.hue[Math.floor(Math.random() * this.hue.length)];
      return random_color
    },
  },
  methods: {
    handleModifyProgress(e) {
      if (e.target.className === 'slider' || e.target.className === 'process') {
        let scale = e.offsetX / this.slider.offsetWidth;
        this.setProgress(scale);
      }
    },

    handleSetRate() {
      if (this.rate === 1) {
        this.rate = 0.9;
        this.setRate(this.rate);
      } else if (this.rate === 0.9) {
        this.rate = 1.2;
        this.setRate(this.rate);
      } else {
        this.rate = 1;
        this.setRate(this.rate);
      }
    },
    handleToggleMute() {
      this.isMute ? this.isMute = false : this.isMute = true;
      this.toggleMute();
    },
    handleSetVolume(flag) {
      flag ? this.curVolume += 0.1 : this.curVolume -= 0.1;
      this.curVolume > 1 ? this.curVolume = 1 : this.curVolume < 0 ? this.curVolume = 0 : '';
      this.setVolume(this.curVolume);
    },
    _sToMs(s) {
      if (typeof s !== 'number') return '00' + ':' + '00'
      s = parseInt(s);
      let h;
      h = Math.floor(s / 60);
      s = s % 60;
      h += '';
      s += '';
      h = (h.length == 1) ? '0' + h : h;
      s = (s.length == 1) ? '0' + s : s;
      return h + ':' + s;
    }
  },
  mounted() {
    if (this.width && typeof this.width === 'number') {
      this.totalWidth = this.width + 'px';
    }
    // Set volume
    this.setVolume(this.curVolume);
    this.slider = this.$refs.slider;
    this.thunk = this.$refs.trunk;
    this.thunk.onmousedown = e => {
      let pWidth = parseInt(this.pWidth);
      let disX = e.clientX;
      document.onmousemove = e => {

        let newWidth = e.clientX - disX + pWidth;

        let scale = newWidth / this.slider.offsetWidth;
        this.per = Math.ceil((this.max - this.min) * scale + this.min);
        this.per = Math.max(this.per, this.min);
        this.per = Math.min(this.per, this.max);
      }
      document.onmouseup = () => {
        document.onmousemove = document.onmouseup = null;
        this.setProgress(this.scale);
      }
      return false;
    }
  },
}
</script>

<style scoped>

@media (max-width: 510px) {
/* .flex-container {display: flex; height: 120px; flex-wrap: wrap; align-content: center; justify-content: center; align-items: center; }
.flex-container > div {width: 100%; margin: 10px; padding: 0px; } */
  .pit {
    display: none;


  }
  #sm {
    border-radius: 15px !important;
    padding: 20px !important;
    flex-wrap: wrap;
  }
  #sm > div {
    width: 100%; margin: 10px; padding: 0px;

  }

  .vs-button {
    font-size: 20px !important;
  }

  .slider {

  }

  /* .ava-bg {
    display: flex;
    justify-content: center;
    border-radius: 35px;
    margin:20px !important;
    height:100%;
    width:100%;
    min-width: 100px !important;
    min-height: 50px !important;
    max-height: 70px;
  } */
}

.title {
  color: var(--vs-color) !important;
  background-color: var(--vs-color) !important;
}

.vs-button h3 {
  color: black;
  font-size: 16px;
}

.card-p {
  padding: 10px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  display: flex;
  margin: 30px;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 300px;
  min-height: 300px !important;
}

.center {
  text-align: center;
}

.ava-bgg {
  display: flex;
  justify-content: center;
  border-radius: 35px;
  margin: 20px;
  height: 100%;
  width: 100%;
  min-width: 100px !important;
  min-height: 100px !important;
  max-height: 160px;
  filter: contrast(110%) !important;

}


.avatar {
  border-radius: 35px;
  margin: 25px;

  display: flex;
  /* min-height: 50px;
    min-width: 100px !important;
    height: 120px; */
  /* margin-bottom: 20px; */
  /* width: 150px; */

  /* margin: 80px; */
}

.Pl {
  display: flex;
  padding: 5px;
  flex-direction: row;
  background: rgba(var(--vs-background), 1);
  border-radius: 35px;
  margin: 20px;
  justify-content: space-around;
  align-items: center;
}

.operations {
  display: flex;
  flex-direction: row;
}

.slider {
  position: relative;
  width: 40%;
  height: 23px;
  border-radius: 35px;
  background: rgba(var(--vs-gray-2), 1);
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.slider .process {
  position: absolute;
  left: 0;
  top: 0;
  height: 23px;
  border-radius: 35px;
  background: #409eff;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
</style>
