<template>
<div class="center content-inputs">
  <form>
    <vs-row>
      <vs-col xs="12" sm="12" w="4" lg="4">
        <ValidationObserver v-slot="{ invalid, valid }" ref="observer">
          <validation-provider rules="required" v-slot="{errors}">
            <vs-input block label-placeholder="Name*" required="required" v-model="name" placeholder="Name*">
            </vs-input>
            <p class="i-message danger" v-if="invalid">
              {{errors[0]}}
            </p>
          </validation-provider>
        </ValidationObserver>
      </vs-col>
      <vs-col xs="12" sm="12" w="4" lg="4">
        <ValidationObserver v-slot="{ invalid, valid }" ref="observer">
          <validation-provider rules="required" v-slot="{errors}">
            <vs-input block v-model="title" label-placeholder="Title*" placeholder="Title*" />
            <p class="i-message danger" v-if="invalid">
              {{errors[0]}}
            </p>
          </validation-provider>
        </ValidationObserver>
      </vs-col>
      <vs-col xs="12" sm="12" w="4" lg="4">
        <ValidationObserver v-slot="{ invalid, valid }" ref="observer">
          <validation-provider rules="required|email" v-slot="{errors}">
            <vs-input block required v-model="mail" type="email" label-placeholder="Email*">

            </vs-input>
            <p class="i-message danger" v-if="invalid">
              {{errors[0]}}
            </p>
            <p class="i-message success" v-if="valid">
              Valid Email
            </p>
          </validation-provider>
        </ValidationObserver>
      </vs-col>
      <vs-col xs="12" sm="12" w="12" lg="12">
        <!-- <vs-input class="in2" id="in" block label-placeholder="Quick Message"  v-model="message" placeholder="Quick Message*" /> -->
        <div class="txt">
          <textarea name="name" @key="inputsFilled" placeholder="Quick message" v-model="message" rows="8" cols="12"></textarea>
        </div>
      </vs-col>

      <vs-col xs="12" sm="12" w="12" lg="6">

        <transition name="slide-fade">
          <vs-button v-if="this.name != '' && this.title != '' && this.mail !='' && this.message !=''" id="bt" block flat @click="sendMessage" :icon="success" :loading="sending" :color="success ? 'success' : 'primary'">
            <span v-if="!success">
              <i class='bx bx-mail-send'></i>
              Send
            </span>
            <i class='bx bx-check' v-if="success"></i>
          </vs-button>
        </transition>
      </vs-col>
    </vs-row>
  </form>

</div>
</template>
<script>
import {
  ValidationObserver,
  ValidationProvider
} from "vee-validate";

export default {
  components: {
    ValidationObserver: ValidationObserver,
    ValidationProvider: ValidationProvider
  },
  data: () => ({
    name: '',
    title: '',
    mail: '',
    message: '',
    sending: false,
    unpush: false,
    success: false,
    validMail: false,

  }),
  methods: {
    async prepareMessage(name, title, mail, message) {
      var today = new Date();
      var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
      var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      var dateTime = date + ' ' + time;

      const msg = {
        msg_title: title,
        msg_sender: name,
        msg_sender_email: mail,
        msg: message,
        msg_sent: dateTime,
      };
      const tk = this.$config.API_TOKEN;
      this.$axios.setToken(`Bearer ${tk}`);
      const ps = await this.$axios.$post('/api/usermessage/', msg).then((response) => {
        console.log(response.status);
        this.sending = false;
        this.success = !this.success
      }, (error) => {
        console.log(error);
      });
      return {
        res: ps
      }
      console.log({
        ps
      });
    },
    sendMessage() {
      this.sending = true
      this.prepareMessage(this.name, this.title, this.mail, this.message);
    },
    inputsFilled() {
      if (this.name != '' && this.title != '' && this.mail != '' && this.message != '') {
        return true
      }
      return false
    }
  },
}
</script>
<style >
@media (max-width:900px) {
  #bt {
    width: 30%;
    margin-left: 15px !important;

  }
}

.vs-input-parent.block .vs-input {
  height: 50px !important;
  background: rgba(var(--vs-background), 1);
}

#bt {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 45px;
  height: 45px;


}

.vs-input-parent.block .vs-input {
  height: 50px !important;
  background: rgba(var(--vs-background), 1);

}

.content-inputs .vs-input-parent {
  padding: 0px 15px 30px 15px;
}

.i-message {
  font-size: 0.7rem;
  position: relative;
  padding: 0px 0px;
  margin: -10px 20px 20px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}

.danger {
  color: rgba(var(--vs-danger), 1) !important;
}

.success {
  color: rgba(var(--vs-success), 1);
}

textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  border-radius: 12px;
  border: 2px solid transparent;
  background: rgba(var(--vs-background), 1);
  color: rgba(var(--vs-text), 1);
  padding: 7px 13px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding-left: 10px;
  width: 100%;
  resize: none;
  font-family: inherit;

}

textarea:focus {
  outline: none;
  border-radius: 17px;
}

.txt {
  margin: 0px 41px 0 15px;
}
</style>
