<template>
<div>
  <h1 class="line-2 center" style="margin:12vh 15px 9vh 15px;">Quick QR codes</h1>
<vs-row>
  <vs-col :key="k.id" v-for="k in codes" vs-type="flex" vs-justify="center" vs-align="center" xs="12" sm="12" lg="6" w="6">
      <div class="card-p" style="margin:50px;">
      <div class="qr">
        <img style="width:100%;" :src="`${k.link}`">
      </div>
    </div>
    <p style="font-weight:600;margin:20px 20px 40px;text-align:center;">{{k.name}}</p>
    <p style="display:flex;justify-content:center;align-self:center;"><a :href="k.pdf" target="_blank"><vs-button style="max-width:170px;width:100%;height:40px;"square border>Print PDF</vs-button></a></p>
  </vs-col>
</vs-row>
<br><br><br>
</div>
</template>
<script>
export default {
  data() {
    return {
      codes: [{
          name: 'Open website > SCAN TO ENTER WEBSITE',
          link: require('~/assets/qr.svg'),
          pdf: '/qr.pdf'

        },
        {
          name: 'My vCard > SCAN TO SAVE MY CONTACTS',
          link: require('~/assets/qrvcard.png'),
          pdf: '/qrvcard.pdf'

        }
      ],
    }
  }
}

</script>
<style >
  .qr {
    width: 300px;

  }
  .card-p {

    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;

  }

</style>
