<template>
  <div>
    <h1 class="line-2 center" style="margin:12vh 15px 9vh 15px;">Find me</h1>
  <vs-row>
    <vs-col :key="k.id" v-for="k in social" vs-type="flex" vs-justify="center" vs-align="center" xs="4" sm="4" lg="2" w="2">
      <a :href="k.go" target="_blank">
        <div class="card-f">
          <div class="con-img-f" id="sml" :style="{backgroundColor:k.color}" style="padding:20px;">
            <span color="" id="inicon" style="font-size:70px;color:white;" v-html="k.link"></span>
          </div>
        </div>

      </a>
      <p style="font-weight:600;margin:20px auto 40px;text-align:center;width:100%;max-width:150px;">{{k.name}}</p>
    </vs-col>

  </vs-row>
</div>
</template>
<script>
export default {
  data() {
    return {
      social: [{
          name: 'Instagram',
          link: "<i class='bx bxl-instagram'></i>",
          color: '#E1306C',
          go: 'https://www.instagram.com/aidensmusic'
        },
        {
          name: 'Facebook',
          link: "<i class='bx bxl-facebook' ></i>",
          color: '#3b5998',
          go: 'https://www.facebook.com/nurbek.f'
        },
        {
          name: 'Twitter',
          link: "<i class='bx bxl-twitter' ></i>",
          color:'#1DA1F2',
          go: 'https://twitter.com/aidenstune/'
        },
        {
          name: 'Github',
          link: "<i class='bx bxl-github' ></i>",
          color:'#333',
          go: 'https://github.com/aidensgithub'
        },
        {
          name: 'Behance',
          link: "<i class='bx bxl-behance' ></i>",
          color:'#053eff',
          go: 'https://www.behance.net/aidensdesign'
        },
        {
          name: 'Mail me',
          link: "<i class='bx bx-at' ></i>",
          color: '#ffa62b',
          go: 'mailto:aidenspost@outlook.com'
        },
      ],
    }
  }
}

</script>
<style>
@media (max-width:510px){
  .con-img-f, #inicon {
    font-size: 31px !important;
    max-width:57px !important;
    max-height:57px !important;
    border-radius:17px !important;
    padding:20px 20px 20px 20px !important;
  }
}
.con-img-f:hover {
  -webkit-transform: translate(0, -30px);
  transform: translate(0, -30px);
  transition: transform 1s;
}
#inicon {
  position:;
}
.shadowit {
  -webkit-box-shadow: 0px 8px 20px -6px ;
          box-shadow: 0px 8px 20px -6px ;
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}
.con-img-f {
  position: relative;
  transition: all .3s ease;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, .05);
  border-radius: 35px;
  box-sizing: border-box;
  background: rgba(var(--vs-background), 1);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width:100px;
  max-height:100px;
  vertical-align: middle;
}
.card-f {

  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

}
.circle-icon {
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}
</style>
