<template>
  <div class="">
    <!-- <vs-row justify="center">

        <vs-button-group>
          <vs-button v-for=" k in places" @click="wasSelected(k.city)" flat>{{k.city}}</vs-button>
      </vs-button-group>
      <br>
      <br>

    </vs-row> -->



            <!-- <vue-picture-swipe :options="{barsSize: {top:44, bottom:'auto'}}" :items="returnList(data)"></vue-picture-swipe> -->
<client-only>
  <div class="thumb-example">
   <!-- swiper1 -->

   <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
     <swiper-slide  class="slide-1">
       <!-- :style="{backgroundImage:`url(k.pics_thumbnail)`} -->
     </swiper-slide>

     <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
     <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
   </swiper>
   <!-- swiper2 Thumbs -->
   <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs">
     <swiper-slide  class="slide-1">
       <!-- :style="{backgroundImage:`url(k.pics_thumbnail)`} -->
     </swiper-slide>
   </swiper>

 </div>
 </client-only>
  </div>
</template>
<script>


export default {
  props: ['data', 'places'],
  name: 'MyComponent',
   components: {  },

  data() {
    return {
      selected: 'all',
      swiperOptionTop: {
          loop: true,
          loopedSlides: 5, // looped slides should be the same
          spaceBetween: 10,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          }
        },
        swiperOptionThumbs: {
          loop: true,
          loopedSlides: 5, // looped slides should be the same
          spaceBetween: 10,
          centeredSlides: true,
          slidesPerView: 'auto',
          touchRatio: 0.2,
          slideToClickedSlide: true
        }
      }
    },

  methods: {
    wasSelected(value) {
      this.selected = value;
      this.$emit('filterselected', value);
      return console.log(this.selected)
    }
  },
  mounted() {
  this.$nextTick(() => {
    const swiperTop = this.$refs.swiperTop.$swiper
    const swiperThumbs = this.$refs.swiperThumbs.$swiper
    swiperTop.controller.control = swiperThumbs
    swiperThumbs.controller.control = swiperTop
  })
}
}

</script>
<style scoped>
.image {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 200px;
}
.thumb-example {
    height: 480px;
    background-color: $black;
  }

  .swiper {
    .swiper-slide {
      background-size: cover;
      background-position: center;

      &.slide-1 {
      background-image:url('/static/world.jpg');
    }
    /* &.slide-2 {
    background-image:url('../assets/ava-min.png');
  }
  &.slide-3 {
  background-image:url('/images/example/4.jpg');
}
&.slide-4 {
background-image:url('/images/example/5.jpg');
}
&.slide-5 {
background-image:url('/images/example/6.jpg');
      } */
    }

    &.gallery-top {
      height: 80%;
      width: 100%;
    }
    &.gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: $gap 0;
    }
    &.gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    &.gallery-thumbs .swiper-slide-active {
      opacity: 1;
    }
  }
</style>
