<template>
    <div class="canvas grid" style="padding-top:19px;">
      <vs-row>
      <vs-col :key="col.id" v-for="col in subcategories" vs-type="flex" vs-justify="center" vs-align="center" xs="12" sm="12" lg="4" w="4">
        <Orbit :box="col" :link="`/category/${sl}/articles/${col.slug}`" />
      </vs-col>
    </vs-row>
    </div>
</template>
<script>
export default {
  head() {
    return {
    title:'Python topics | NFSpace.me',
    meta: [
      {
        hid: 'Python programming topics',
        name: 'Python programming topics',
        content: 'Python, AI, Machine Learning, Coding'
      }
    ],
  }
  },
  name: 'category',
  validate ({ params }) {
    return isNaN(params.slug)
  },
  async asyncData({ $axios, params, $config }) {
    const tk = $config.API_TOKEN
    const sl = params.slug
    $axios.setToken(`Bearer ${tk}`)
    const subcategories = await $axios.$get(`/api/article/?category=${params.pathMatch}`).catch(function(error) {
    return error
    });
    return { subcategories: subcategories, sl:sl }
  }
}

</script>
<style scoped>
  .container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    max-width: 300px;
    min-height: 300px !important;
  }
  .center {
    text-align: center;
  }


</style>
