<template>
  <div>
  <div class="floatingback">
    <vs-button transparent dark>
    <i class='bx bx-arrow-back' @click="$nuxt.$router.go(-1)"></i>
  </vs-button>
  </div>

<div class="canvas" style="max-width:700px;padding:20px;padding-top:55px;margin-top:1vh;">
  <div class="plate">
    <vs-row class="mh" :key="index" v-for="(k, index) in data" align="center" justify="space-between" direction="column">
      <vs-col justify="flex-start">
        <h1 class="heading">{{k.title}}</h1>
      </vs-col>
      <vs-col w="12" sm="12">
        <author :published="k.published" :thispage="k.title" />
      </vs-col>
      <vs-col w="12">
        <div class="image">
          <img src="" style="max-width:100%;border-radius:12px;margin: 25px 0 25px 0" :src="k.image" alt="">
        </div>
      </vs-col>
      <vs-col w="12">
        <div class="paragraph" v-html="rendevue">
        </div>
      </vs-col>
    </vs-row>
  </div>
</div>
  </div>
</template>
<script>
import marked from 'marked';
import highlight from 'highlight.js/lib/core';
import python from 'highlight.js/lib/languages/python';



export default {
  head() {
    return {
    title: this.data[0].title + ' | nfspace.me',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Home page description'
      }
    ],
  }
  },
  validate ({ params }) {
    return isNaN(params.slug)
  },
  props: ['slug'],
  async asyncData({
    $axios,
    $config,
    params,
  }) {
    const tk = $config.API_TOKEN
    $axios.setToken(`Bearer ${tk}`)
    const article = await $axios.$get(`/api/article/?slug=${params.pathMatch}`).catch(function(error) {
    return error
    });
    return {
      data: article
    }
  },
  computed: {
    rendevue() {
      highlight.registerLanguage('python', python);
      marked.setOptions({
        highlight: function(code, lang) {
          try {
            return '<pre class="hljs"><code>' +
              highlight.highlight('python', code, true).value +
              '</code></pre>';
          } catch (__) {}
        },
        baseUrl: `${this.$axios.defaults.baseURL}`,
      });
      for (const k of this.data) {
        return marked(`${k['text']}`)
      }
    }
  },
}
</script>
<style>
@media (max-width:600px) {
  .heading {

  }

  .subheading {
    line-height: 2rem !important;
  }

  .paragraph p {
    line-height: 1.8rem !important;
    font-size: 1.2rem !important;


  }
}

.image {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 700px;



}

.paragraph p img {
  display: flex;
  border-radius: 12px;
  width: 100%;
  justify-content: left;
  align-items: center;
  max-width: 700px;



}

.heading {
  font-size: 3.0rem;
  font-family: 'Bold';

}

.subheading {
  line-height: 45px;
  letter-spacing: normal;
  font-weight: 300;
  font-size: 30px;
  font-family: 'Medium';
}

.paragraph p {
  font-family: 'Regular';
  line-height: 34px;
  font-size: 20px;
  letter-spacing: 0.5px;

}
@media screen and (min-width: 800px) {
  .floatingback {
    position:fixed;
    left:5%;
    margin: 2rem;
    top:14%;
  }

  .floatingback i {
   font-size: 20px;
   color: rgb(var(--vs-text));
  }
}

@media screen and (max-width: 800px) {
  .floatingback {
    display: none;
  }


}

.plate {
  border-radius: 20px;
  color: var(--vs-primary);
  background-color: var(--vs-background: 255, 255, 255);
}
.paragraph h1 {
  letter-spacing: 0.6px;
  font-size: 30px;
  line-height: 36px;
  font-family: 'Medium'
}
:root {
  --vs-background: 255, 255, 255;
}
</style>
